html {
    /* deixar os links, movimentos dentro da página, mais suaves */
    scroll-behavior: smooth;
}

/* vai aplicar em todos elementos */
* {
    /* defini se a borda será dentro ou fora do elemento */
    box-sizing: border-box;
    /* margem da página, se não colocar zero "0", vai ter alguma margem */
    margin: 0px;
    padding: 0px;
}

/* vai colocar essas modificações em tudo que estiver dentro do "body" */
body {
    /* cor do fundo */
    background-color: #0e0f10;
    /* cor do texto */
    color: white;
    /* fonte do texto */
    font-family: 'Poppins', sans-serif;
}


.tabela {
    /* largura do conteúdo */
    width: 100%;
    /* altura do conteúdo */
    height: 100vh;
    /* cria uma borda no elemento,conteúdo */
    border-collapse: collapse;
}


.menu {
    background-color: #1d1d22;
    /* largura do conteúdo */
    width: 10%;
    /* espaço entre o conteúdo e a borda */
    padding: 20px;
    vertical-align: top;
    text-align: center;
    position: fixed;
    height: 100%;
}

.corpo {
    /* espaço entre o conteúdo e a borda, lado direito*/
    padding-left: 25%;
    /* espaço entre o conteúdo e a borda, lado esquerdo*/
    padding-right: 15%;
    /* alinhamento vertical, do texto */
    vertical-align: top;
}

.title {
    /* margem da página, no topo da página, se não colocar zero "0", vai ter */
    margin-top: 60px;
    /* margem da página, fundo, se não colocar zero "0", vai ter */
    margin-bottom: 60px;
    /* alinhamento de texto, centralizou */
    text-align: center;
}

.card-box {
    /* mostrar */
    display: flex;
}

.card-box-img img {
    height: 200px;
    border-radius: 50%;
}

.card-box-body {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #25ca7f;
}

.menu i {
    font-size: 30px;
}

.menu .logo {
    font-size: 40px;
    font-weight: 600;
    border-bottom: 5px solid #25ca7f;
}

#sobreMim {
    padding-bottom: 30px;
    min-height: 1000px;
}



.service-container {
    display: flex;
    flex-wrap: wrap;


}

.service-item {
    /* fazer calculo para ter a margem correta,*/
    width: calc(33.33% - 30px);
    /* coloca uma margem de espaço, entre os elementos */
    margin: 15px;
}

.service-item-card {
    border: 1px solid black;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-item-card:hover {
    border: 1px solid #25ca7f;
}


.service-item-card-icon {
    background-color: #0e0f10;
    height: 100px;
    border: 1px solid black;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item-card-icon:hover {
    border: 1px solid #25ca7f;
}

.service-item-card-icon i {
    font-size: 30px;
}

.service-item-card-title {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.service-item-card-description {
    text-align: center;
}

.flexbox {
    display: flex;
}

.flexbox-item {
    width: 50%;
}

.card {
    /* cor de fundo */
    background-color: #070708;
    /* espaço entre o conteúdo e a borda  */
    padding: 30px;
    /* arredonda a borda */
    border-radius: 30px;
}

.timeline-item {
    padding-bottom: 30px;
    border-left: 1px solid #25ca7f;
    padding-left: 16px;
    position: relative;
}

.timeline-item-period {
    font-size: 12px;
    color: #25ca7f;
    margin-top: 8px;
    margin-bottom: 8px;
}

.timeline-item-marker {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    left: -8px;
}


.timeline-item-marker-circule {
    height: 15px;
    width: 15px;
    background: #25ca7f;
    border-radius: 50%;
}

.timeline-item-marker-line {
    height: 1px;
    width: 15px;
    background: #25ca7f;
}

/* deixar espaço no topo, quando usar os links */
#sobreMim,
#experiencia,
#contato {
    scroll-margin-top: 50px;
}